body {
    background-color: #f8f9fa;
}

.card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#video {
    background-color: #ddd;
}

.table {
    margin-top: 20px;
}

.alert {
    max-width: 640px;
    margin: 10px auto;
}